@use 'basics/colors.scss';
@use 'basics/components.scss';

.footer {
    width: 100%;
    height: 5rem;
    background: colors.$light-purple;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.footer__h1 {
    color: white;
}