@use 'basics/colors.scss';
@use 'basics/components.scss';

.header{
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    background-color: colors.$light-purple;
}

.header__left{
    @extend %headerStuk;
}

.header__left__logo{
    height: 6rem;
}

.header__left__titel{
    font-size: 4rem;
}

.header__center{
    @extend %headerStuk;
    gap: 2rem;
    display: flex;
    width: 20rem;
    justify-content: space-between;
}

.header__icon{
    color: white;
    font-size: 4rem;
}

.header__right{
    @extend %headerStuk
}

.header__right__nvvnLink{
    color: colors.$whiteText;
    font-size: 2rem;
}

.header__right__gitLink__icon{
    font-size: 5rem;
    color: colors.$blackText;
}

@media screen and (max-width: 100rem) {
    .header__center{
        gap: 2rem;
    }
  }

  @media screen and (max-width: 75rem) {
    .header{
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }
  }