@use 'basics/colors.scss';
@use 'basics/components.scss';

.home_main{
    @extend %page-settings;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
}

.main__titel{
    @extend %overzicht-titel;
}

.main__SDG__section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.main__SDG__img{
    border-radius: 5%;
    height: 45rem;
    width: 45rem;
}

.main-sdg{
    height: 45rem;
    width: 45rem;
}

.main__SDG__img__cover{
    background-color: black;
    border-radius: 5%;
    z-index: 10;
    position: absolute;
    animation: layer 0.5s ease-in-out forwards;
}

@keyframes layer {
    0% {    opacity: 80%; } 
    100% {  opacity: 0%;  }
  }


.cta__button{
@extend %cta;
}

.cta__button_a{
    display: block;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 140rem) {
    .main-sdg, .main__SDG__img{
        height: 35rem;
        width: 35rem;
    }

  }