@use 'basics/colors.scss';
@use 'basics/components.scss';

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
}

.main__titel{
    padding-top: 2rem;
    font-size: 7rem;
    font-weight: 400;
    align-self: center;
}

.main__SDG__section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.main__SDG__img{
    border-radius: 5%;
    height: 45rem;
    width: 45rem;
}

.main__SDG__img__cover{
    height: 45rem;
    width: 45rem;
    background-color: black;
    border-radius: 5%;
    z-index: 10;
    position: absolute;
    animation: layer 0.5s ease-in-out forwards;
}

@keyframes layer {
    0% {    opacity: 80%; } 
    100% {  opacity: 0%;  }
  }

.main__button{
@extend %cta;
}