@use 'basics/components.scss';


.overzicht-titel{
    @extend %overzicht-titel;
}

.Sdg-overzicht{
    @extend %page-settings;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.SDG{
    height: 20rem;
    border-radius: 5%;
}