@use 'basics/colors.scss';
@use 'basics/components.scss';

.sdgPage{
    @extend %page-settings;
    flex-direction: row;
    line-height: 3rem;
    display: flex;
    gap: 5rem;
}

.sdgPage__left{
    width: 30%;
}

.left__img1{
    @extend %img;
    width: 100%;
}

.sdgPage__right{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.right_top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right_top__titel{
    @extend %h1;
    line-height: 5rem;
}

.right_top__text{
    @extend %paragraph;
}

.right_bottom{
    display: flex;
    gap: 5rem;
}

.right_bottom__text{
    @extend %paragraph;
}

.right_bottom__img2{
    @extend %img;
    width: 50%;
}
