@use 'basics/colors.scss';

.sdgPage{
    padding: 10rem 0;
    width: 90%;
    margin: 0 auto;
}

.sdgPage__top{
    display: flex;
    gap: 5rem;
}

.sdgPage__img{
    width: 40%;
    border-radius: 5%;
}

.sdgPage__top__text{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sdgPage__title{
    font-size: 6rem;
}

.sdgPage__text1{
    font-size: 2rem;
}
