@use'./colors.scss';

%page-settings{
    padding: 10rem 0;
    width: 160rem;
    height: 100%;
    margin: 0 auto;
}

%headerStuk {
    color: colors.$whiteText;
    font-weight: 200;
    display: flex;
    gap: 2rem;
    align-items: center;
}

%cta {
    background-color: colors.$light-purple;
    color: colors.$whiteText;
    padding: 2rem 4rem;
    width: 20%;
    align-self: center;
    border-radius: 1rem;
    border: none;
    font-size: 3rem;
    bottom: 0;
}

%h1{
    font-size: 5rem;
}

%h2{
    font-size: 4rem;
}

%paragraph{
    font-size: 2rem;
}

%img{
    border-radius: 5%;
}